body{
    overflow-x: hidden;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50%;
    object-fit: cover;
  }
  .swiper-button-next {
 
   margin-right: 20%;
  }
  .swiper-button-prev {
    
    margin-left: 20%;
   }
  .first-div{
      background: url('/src/assets/Hero-sectio.png');
  }
  .second-div{
      background: url('/src/assets/Hero-sectio.png');
  }
  .third-div{
      background: url('/src/assets/Hero-sectio.png');
  }
  .fourth-div{
    background: url('/src/assets/Hero-sectio.png');
}