body{
    overflow-x: hidden;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50%;
    object-fit: cover;
  }
  .swiper-button-next {
 
   margin-right: 20%;
  }
  .swiper-button-prev {
    
    margin-left: 20%;
   }
  .first-div{
      background: url('https://images.unsplash.com/photo-1547423753-6abf56c9b8eb?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  }
  .second-div{
      background: url('https://images.unsplash.com/photo-1549917923-b0a375d430e0?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  }
  .third-div{
      background: url('https://images.unsplash.com/photo-1508378817913-43c62adcdd59?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  }
  .fourth-div{
    background: url('https://images.unsplash.com/photo-1547423753-6abf56c9b8eb?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}